# thanks:
#  http://blogs.perl.org/users/smylers/2011/08/ssh-productivity-tips.html
#  https://stribika.github.io/2015/01/04/secure-secure-shell.html

ControlMaster auto
ControlPath /tmp/%u/ssh_%r@%h:%p
ControlPersist 5m
TCPKeepAlive no
ServerAliveInterval 60
ServerAliveCountMax 10
HostbasedAuthentication no
HashKnownHosts no
CheckHostIP yes
VerifyHostKeyDNS yes
StrictHostKeyChecking ask
UseRoaming no

Host *
	HashKnownHosts yes
	KexAlgorithms curve25519-sha256@libssh.org,diffie-hellman-group-exchange-sha256,diffie-hellman-group1-sha1
	SendEnv BASE16_SCHEME LANG LC_*
	IdentityFile ~/.ssh/%u@%h

Host *.onion
	ProxyCommand socat - SOCKS4A:localhost:%h:%p,socksport=9050

Host *.local
	ForwardAgent yes
