@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

#navigator-toolbox > toolbar:-moz-lwtheme:not(#TabsToolbar) {
	background-color: transparent !important;
}
#nav-bar {
	box-shadow: none !important;
}
#nav-bar-customization-target {
	padding: 3px 4px 2px !important;
}
#titlebar { display: none !important; }
#back-button { margin-left: 64px !important; }
#nav-bar #PanelUI-button { margin-right: 20px !important; }

.bookmark-item > .toolbarbutton-icon { display: none !important; }

@-moz-document url("chrome://browser/content/browser.xul") {
	#personal-bookmarks {
		min-height: 10px !important;
	}

	#personal-bookmarks toolbarbutton.bookmark-item,
	#personal-bookmarks toolbarbutton {
		margin: -4px 0px -3px 4px !important;
		padding: 2px 6px !important;
		-moz-appearance: none !important;
	}
}

.bookmark-item[container] > .toolbarbutton-menu-dropmarker {
	display: none !important;
}

#PersonalToolbar .toolbarbutton-text {
	font-size: 10px !important;
}
