@namespace html url(http://www.w3.org/1999/xhtml);
@namespace xul url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul) {
	:root { }

	#identity-box { filter: grayscale(95%); }
	.tabs-newtab-button { filter: brightness(0%) saturate(4500%) opacity(50%); }
	#foobar-urlbar-icon {
		border-radius: 2px;
		filter: grayscale(95%) contrast(125%) brightness(110%) opacity(85%);
	}
	#foobar-urlbar-icon:hover { filter: contrast(110%) brightness(105%); }
	toolbarbutton[id*="destructing-cookies"] { filter: grayscale(100%) contrast(110%); }
}
